* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  color: black; /* sets the font color */
  background-image: url(""); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#output-div img {
  display: block;
  max-width: 100%;
  max-height: 200px;
}
.header {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

#container {
  background-color: pink;
  margin: 40px auto;
  max-width: 800px;
  padding: 38px 31px;
}

input {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 9px;
  width: 100%;
}

button {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 6px;
}

.logo-img {
  height: 49px;
  position: relative;
  top: 22px;
}

/* increase header font size on wider screens */
@media screen and (min-width: 600px) {
  .header {
    font-size: 2rem;
  }
}

#dealer-ui {
  display: flex;
  align-items: flex-start;
}

#space {
  flex: 2;
}

#dealer {
  text-align: center;
  flex: 1;
}

#dealer-image {
  display: block;
  width: 100%;
  margin: auto;
}

#output-div {
  flex: 2;
  font-size: 12px;
  padding-top: 20px;
}

#players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player {
  width: 33%;
  padding: 0 10px 10px 10px;
  text-align: center;
}

.bet-label {
  padding-right: 10px;
}

.wager {
  margin: 0;
  padding: 0;
}

.value-wager {
  padding-left: 10px;
}

#game {
  display: none;
}

#hit-button,
#stand-button {
  visibility: hidden;
}
