body{
  background: url(pngtree-classy-luxury-casino-game-background-image_774371.jpg) no-repeat center fixed;
  background-size: cover
}
button{
  height: 50px;
  max-width: 160px;
  margin-left: 8px;
  margin-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  transition-property: border-color, color, background-color;
  transition-duration: 0.1s;
}

button:hover{
  border-color: #c29f41;
  color:#c29f41
}

button:active{
  background-color: #c29f41;
  color: #ffffff;
}

.header{
  font-family: 'Casino', sans-serif;
  font-size: 150px;
  text-align: center;
  color: #c29f41;
  -webkit-text-stroke: 2px black;
}
#poker-table{
  background-color:	#4d2712;
  height: 1000px;
  width: 2000px;
  margin:auto;
  width: 1800px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 90px;
  border: 9px #c29f41 solid;
}

#green-mat{
  height: 930px;
  width: 1720px;
  background-image: url(greenfelt.jpeg);
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px #c29f41 solid;
}

#play-table{
  height: 880px;
  width: 1660px;
  background-color: transparent;
  
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.odd-player-area, .even-player-area{
  margin: 36px 0px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.play-area{
  margin: 42px 0px;
  border: 4px #ffffff solid;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 36px;
  padding-left: 16px;
  color: #ffffff;
}

#player-1, #player-2, #player-3, #player-4, #player-5, #player-6{
  border: 4px #ffffff solid;
  border-radius: 10px;
  margin: 6px 6px 6px 6px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  align-items: center;
}

#player-1-name,#player-2-name,#player-3-name,#player-4-name,#player-5-name,#player-6-name{
  height: 50px;
  border-bottom: 4px solid #ffff;
  padding-left: 12px;
  font-size: 40px;
  font-family: 'Brush Script MT', cursive;
  font-weight: bold;
  text-align: left;
  color: black;
}

#num-player{
  margin-left: 20px;
  height: 40px;
  width: 50px;
  vertical-align: auto;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 0px;
  background: transparent;
  color: white;
  border: 4px solid #ffffff;
  border-radius: 5px;
  transition-property: border-color, color;
  transition-duration: 0.15s;
}

#num-player:hover{
  border-color: #c29f41;
  color:#c29f41
}

#continue-button{
  visibility: hidden;
}

#output-div{
  font-size: 25px;
}

img{
  max-height: 150px;
  width: auto;
  margin-right: 8px;
}
.cardstorage{
  max-height: 80px;
  width: auto;
  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 20px;
}

#player-1-output, #player-2-output, #player-3-output, #player-4-output, #player-5-output, #player-6-output{
  display: flex;
  justify-content: center;
}

#classValue-player1,#classValue-player2,#classValue-player3,#classValue-player4,#classValue-player5,#classValue-player6{
  color:#ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  border: none;
  padding-left: 20px;
}

#WLD{
  height: 80px;
  width: 200px;
  border-radius: 6px;
  border: 4px solid #c29f41;
  color: #c29f41;
  background-color: #59110f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 98px;
  font-size: 60px;
}
