@font-face {
  font-family: ginandtonic;
  src: url(font/GinAndTonic.otf);
}

@font-face {
  font-family: eurofurence;
  src: url(font/eurof75.ttf);
}

@font-face {
  font-family: marketdeco;
  src: url(font/Market_Deco.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: darkgray;
  font-family: marketdeco, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  color: white; /* sets the font color */
  background-image: url("img/bg.png"); /* The image used */
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.header {
  margin-top: 0rem;
  font-family: ginandtonic, sans-serif;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.header h1 {
  font-size: 1rem;
}

.playSpace {
  background-color: #023020;
  border-radius: 25px;
  margin: 40px auto;
  max-width: 1300px;
  padding: 30px 25px;
}

table {
  width: 100%;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

th,
td,
tr {
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

td img {
  display: block;
  margin: auto;
}

.handContainer {
  height: 130px;
  display: inline-block;
}

.cardContainer {
  display: inline-block;
}

.ruleSpace {
  background-color: slategray;
  border-radius: 25px;
  margin: 40px auto;
  max-width: 1300px;
  padding: 30px 25px;
}

input {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 9px;
  width: 25%;
}

button {
  background-color: slategray;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  margin: 2px;
  cursor: pointer;
  transition-duration: 0.5s;
  font-family: eurofurence;
  box-shadow: 0 5px lightgrey;
}

button:hover {
  background-color: #4f7942;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

button:active {
  background-color: #4f7942;
  box-shadow: 0 3px grey;
  transition-duration: 0.2s;
  transform: translateY(2px);
}

#output-div {
  height: 500px;
  background-color: lightgrey;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.logo-img {
  height: 49px;
  position: relative;
  top: 22px;
}

/* increase header font size on wider screens */
@media screen and (min-width: 600px) {
  .header {
    font-size: 2rem;
  }
}

img.card {
  width: 70px;
  margin: 5px;
  padding: 0;
  border: 0;
  vertical-align: top;
  box-sizing: initial;
  display: inline-block;
}

img.player {
  width: 75px;
  padding: 0;
  border: 0;
  vertical-align: top;
  box-sizing: initial;
  display: inline-block;
}
