* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  color: black; /* sets the font color */
  background-image: url(""); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#output-div img {
  display: block;
  max-width: 100%;
  max-height: 200px;
}
.header {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

#container {
  background-color: pink;
  margin: 40px auto;
  max-width: 800px;
  padding: 38px 31px;
}

input {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 9px;
  width: 100%;
}

button {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 6px;
}

#output-div {
  background-color: lightgrey;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.logo-img {
  height: 49px;
  position: relative;
  top: 22px;
}

/* increase header font size on wider screens */
@media screen and (min-width: 600px) {
  .header {
    font-size: 2rem;
  }
}

#hit-button,
#stand-button {
  visibility: hidden;
}
